@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-roboto bg-neutral;
    overflow-x: hidden;
    font-size: 20px;
    scroll-behavior: smooth;
}

nav ul li:not(:last-child) {
    @apply mr-6
}

#hero {
    background-image: url("./assets/img/hero.png");
    background-size: cover;
    background-position: center;
}

.content {
    opacity: 0;
    animation: fadeInFromLeft 1s forwards;
}

.mobile-tablet nav ul li {
    @apply w-full border-b border-darkGreen
}


/*Animations*/
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}